<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.alfredapp.alfred-node-repl</string>
    <key>category</key>
    <string>Productivity</string>
    <key>connections</key>
    <dict>
      <key>9A7DAE45-A6E1-4A76-8666-D06467F5657C</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>27626D4C-F23A-4710-AFF8-4FB83BA34487</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Youssef youssef.jsdeveloper@gmail.com</string>
    <key>description</key>
    <string>Evaluate JavaScript expersion in Alfred</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Node Repl</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>js&gt;</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Exectuing...</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node index.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string>Running Javascript Code</string>
          <key>title</key>
          <string>Node Repl</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>9A7DAE45-A6E1-4A76-8666-D06467F5657C</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>27626D4C-F23A-4710-AFF8-4FB83BA34487</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>27626D4C-F23A-4710-AFF8-4FB83BA34487</key>
      <dict>
        <key>xpos</key>
        <integer>340</integer>
        <key>ypos</key>
        <integer>190</integer>
      </dict>
      <key>9A7DAE45-A6E1-4A76-8666-D06467F5657C</key>
      <dict>
        <key>xpos</key>
        <integer>120</integer>
        <key>ypos</key>
        <integer>190</integer>
      </dict>
    </dict>
    <key>webaddress</key>
    <string/>
    <key>version</key>
    <string>1.0.0</string>
  </dict>
</plist>